In [212]:
### Importing all libraries
import nltk

from textblob import TextBlob

from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Gautham\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [253]:
### Importing the file
import pandas as pd

text_table = pd.read_csv("D:/MCM1/Sem1/CA675_Cloud_Technology/Assignment2/Tweets/Output/4MotoX.csv", header=None)
df = pd.DataFrame(text_table)

In [254]:
### Checking if the data loaded is in correct format
df[1:20]

                                                    0
1       Fantastic phone and the photos are wonderful.
2                         Just right ... great choice
3                               Excellent all perfect
4   I personally love this phone. I typically get ...
5   Great phone best camera my wife has had. Bough...
6   perfect phone I just love it buy it your be gl...
7   This is my second smartphone. Compared to the ...
8   Excellent, working as expected. No issues duri...
9   After a month the screen had to receive at lea...
10  This is the best phone I have ever owned, tons...
11               The best phone you can buy for $300.
12                     This is the best for the price
13  I already liked this phone A LOT, but today it...
14  Excellent Value phone. I do love it. Fast, bea...
15  I love this phone, never had a Moto before and...
16  I was sceptical about buying this phone but I ...
17                                         GREAT PICS
18  This phone worked for 3 months, now have the s...
19  Everything perfect. Arrived on time and in per...

In [255]:
### creating column [1] as tokenized words and [2] with empty string for tokenization
df.columns
df[1] = df[0].apply(word_tokenize)

In [256]:
### Perform lemmatization and convert to simple parts of speech

from nltk.tag import pos_tag
from nltk.stem.wordnet import WordNetLemmatizer

import re

def lemmatize_sentence(tokens):
    lemmatizer = WordNetLemmatizer()
    lemmatized_sentence = []
    for word, tag in pos_tag(tokens):
        if tag.startswith('NN'):
            pos = 'n'
        elif tag.startswith('VB'):
            pos = 'v'
        else:
            pos = 'a'
        lemmatized_sentence.append(lemmatizer.lemmatize(word, pos))
    return lemmatized_sentence


def untokenize(words):
    
    text = ' '.join(words)
    step1 = text.replace("`` ", '').replace(" ''", '').replace('. . .',  '.')
    step2 = step1.replace(" ( ", "(").replace(" ) ", ")").replace(",","")
    step3 = re.sub(r' ([.,:;?!%]+)([ \'"`])', r" ", step2)
    step4 = re.sub(r' ([.,:;?!%]+)$', r" ", step3)
    step5 = step4.replace(" '", "").replace(" n't", "nt").replace(
         "can not", "cannot")
    step6 = step5.replace(" ` ", "")
    return step6.strip()


for index, row in df.iterrows():
    df_tb_temp = lemmatize_sentence(df.iat[index,1])
    df_tb_temp2 = untokenize(df_tb_temp)
    df.set_value(index,1,df_tb_temp2)

C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:49: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [217]:
### Translation:
# for index, row in df.iterrows():
#     df_tb_temp = TextBlob(df.iat[index,0])
#     df.set_value(index,1,df_tb_temp.translate('en'))

In [257]:
### Adding a new column with polarity values
    
for index, row in df.iterrows():
    df_tb_temp = TextBlob(df.iat[index,1])
    x = float(0.00)
    temp_score1 = df_tb_temp.sentiment.polarity
    temp_score2 = float(temp_score1)
    temp_score = format(temp_score2, '.2f')
    temp_score = float(temp_score)
    df.set_value(index,2,temp_score1)
    
    if (temp_score > x):
        df.set_value(index,3,'pos')
    elif (temp_score == x):
        df.set_value(index,3,'neu')
    else:
        df.set_value(index,3,'neg')  
    df_tb_temp = 0

C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]
C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [258]:
### Check the column indices and column count
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [259]:
### Naming of columns
df.columns = ['text','tokens','polarity','sentiment']

In [260]:
### Removing column 'tokens'
### Adding column for Phone ID

df = df.drop("text", axis=1)
df['phone_id'] = 104
df['index1'] = df.index

In [261]:
### Sub tables for each spec
df_spec1 = df[df['tokens'].str.contains('display|screen')]
df_spec1['spec_id'] = 201
df_spec2 = df[df['tokens'].str.contains('battery')]
df_spec2['spec_id'] = 202
df_spec3 = df[df['tokens'].str.contains('performance')]
df_spec3['spec_id'] = 203
df_spec4 = df[df['tokens'].str.contains('camera')]
df_spec4['spec_id'] = 204
df_spec5 = df[df['tokens'].str.contains('speaker|sound')]
df_spec5['spec_id'] = 205
df_spec6 = df[df['tokens'].str.contains('fingerprint|face id|faceid')]
df_spec6['spec_id'] = 206

C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\Gautham\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [262]:
### Count of sentiments by tables:
print ('Spec1_pos is  {} '.format(df_spec1['sentiment'].str.contains('pos').sum()))
print ('Spec1_neu is  {} '.format(df_spec1['sentiment'].str.contains('neu').sum()))
print ('Spec1_neg is  {} '.format(df_spec1['sentiment'].str.contains('neg').sum()))
print ('Spec2_pos is  {} '.format(df_spec2['sentiment'].str.contains('pos').sum()))
print ('Spec2_neu is  {} '.format(df_spec2['sentiment'].str.contains('neu').sum()))
print ('Spec2_neg is  {} '.format(df_spec2['sentiment'].str.contains('neg').sum()))
print ('Spec3_pos is  {} '.format(df_spec3['sentiment'].str.contains('pos').sum()))
print ('Spec3_neu is  {} '.format(df_spec3['sentiment'].str.contains('neu').sum()))
print ('Spec3_neg is  {} '.format(df_spec3['sentiment'].str.contains('neg').sum()))
print ('Spec4_pos is  {} '.format(df_spec4['sentiment'].str.contains('pos').sum()))
print ('Spec4_neu is  {} '.format(df_spec4['sentiment'].str.contains('neu').sum()))
print ('Spec4_neg is  {} '.format(df_spec4['sentiment'].str.contains('neg').sum()))
print ('Spec5_pos is  {} '.format(df_spec5['sentiment'].str.contains('pos').sum()))
print ('Spec5_neu is  {} '.format(df_spec5['sentiment'].str.contains('neu').sum()))
print ('Spec5_neg is  {} '.format(df_spec5['sentiment'].str.contains('neg').sum()))
print ('Spec6_pos is  {} '.format(df_spec6['sentiment'].str.contains('pos').sum()))
print ('Spec6_neu is  {} '.format(df_spec6['sentiment'].str.contains('neu').sum()))
print ('Spec6_neg is  {} '.format(df_spec6['sentiment'].str.contains('neg').sum()))

Spec1_pos is  286
Spec1_neu is  10
Spec1_neg is  27
Spec2_pos is  200
Spec2_neu is  2
Spec2_neg is  16
Spec3_pos is  69
Spec3_neu is  0
Spec3_neg is  1
Spec4_pos is  180
Spec4_neu is  6
Spec4_neg is  3
Spec5_pos is  61
Spec5_neu is  1
Spec5_neg is  5
Spec6_pos is  0
Spec6_neu is  0
Spec6_neg is  0

In [263]:
#Appending all the reviews by spec table
print (len(df_spec1))
df_spec1 = df_spec1.append(df_spec2, ignore_index = True) 
print (len(df_spec1))
df_spec1 = df_spec1.append(df_spec3, ignore_index = True) 
print (len(df_spec1))
df_spec1 = df_spec1.append(df_spec4, ignore_index = True) 
df_spec1 = df_spec1.append(df_spec5, ignore_index = True) 
df_spec1 = df_spec1.append(df_spec6, ignore_index = True) 
print (len(df_spec1))

323
541
611
867

In [264]:
### Checking a sample of the spec table
df_spec1[30:40]

,tokens,polarity,sentiment,phone_id,index1,spec_id
30,I be crazy about this phone before I be able t...,0.338795,pos,104,162,201
31,I dont give the 5 star because when i opend it...,0.437500,pos,104,169,201
32,I really really love it Im from Philippines an...,0.204948,pos,104,171,201
33,I buy it directly from Amazon It be brand new ...,0.249631,pos,104,174,201
34,Have to give 2 star This be a nice phone at fi...,0.123710,pos,104,176,201
35,Some difficulty use it overseas on foreign net...,0.047619,pos,104,182,201
36,Got it use for $ 152 they say it be in good co...,0.296645,pos,104,198,201
37,This be probably the best phone I have ever ha...,0.783333,pos,104,201,201
38,this phone suck have many defect The screensh...,-0.233333,neg,104,215,201
39,This phone do it all Great reception audio an...,0.287846,pos,104,244,201

In [265]:
### Export the output:
df.to_csv(r'D:/MCM1/Sem1/CA675_Cloud_Technology/Assignment2/Output_tables/4MotoX_op_whole.csv', header=True, index=False)
df_spec1.to_csv(r'D:/MCM1/Sem1/CA675_Cloud_Technology/Assignment2/Output_tables/4MotoX_op_spec.csv', header=True, index=False)